{% extends 'cattle_management/base.html' %}

{% block content %}
{{ block.super }}
{% with url_name=request.resolver_match.url_name %}
<div role="group" class="bar">
    <a href="{% url 'cows:cow_list' %}" class="btn{% if url_name == 'cow_list' %} btn-success{% endif %}">Список КРС</a>
    <a href="#" class="btn{% if url_name == 'cows' %} btn-success{% endif %}">Визуализация</a>
    <a href="#" class="btn{% if url_name == 'cows' %} btn-success{% endif %}">Отчетность</a>
</div>
{% endwith %}
{% endblock %}
