{% extends 'cows/cow_bar.html' %}

{% block title %}List of Cows{% endblock %}

{% block content %}
{{ block.super }}
<h3>Голова КРС - добавление:</h3>
<form method="POST" class="control-form">{% csrf_token %}
    <table>
        <tr>
            <td>Кличка, инд.номер</td>
            <td>{{ form.name }}</td>
        </tr>
        <tr>
            <td>Цвет, раскрас</td>
            <td>{{ form.color }}</td>
        </tr>
        <tr>
            <td>Порода</td>
            <td>{{ form.breed }}</td>
        </tr>
        <tr>
            <td>Отличительные особенности</td>
            <td>{{ form.features }}</td>
        </tr>
        <tr>
            <td><input type="submit" value="Сохранить" class="btn btn-success"></td>
        </tr>
    </table>
</form>
{% endblock %}
