{% extends 'milking/milking_bar.html' %}

{% block content %}
{{ block.super }}
<!-- =============== FilterForm =============== -->
<!--TABLE-->
<div class="row">
    <div class="col-4">
        <a class="btn btn-outline-success mb-2" href="{% url 'milking:milking_create' %}">Создать запись</a>
    </div>
    <div class="col-8 d-flex justify-content-end">
        <span class="text-secondary h5" style="float: right; padding-top: 0.4rem;">
            Записей: {{ page_obj.paginator.count }}
        </span>
    </div>
    <div class="col-4"></div>
</div>

<div class="row overflow-auto table-wrap">
    <div class="col-12 nop">
        <table class="table caption-top">
            <thead class="table-dark">
            <tr>
                <th>
                    <form>
                        {% include 'cattle_management/sort_form_fields_and_page.html' %}
                        <input type="hidden" name="srt" value="{% if 'datetime' not in srt %}-datetime{% elif srt == '-datetime' %}datetime{% else %}id{% endif %}">
                        <button class="table-head" type="submit" style="width: 100px;">Дата-время{% if srt == 'datetime' %}&nbsp;&#9660;{% elif srt == '-datetime'%}&nbsp;&#9650;{% else %}&nbsp;&#8597;{% endif %}</button>
                    </form>
                </th>
                <th>
                    <form>
                        {% include 'cattle_management/sort_form_fields_and_page.html' %}
                        <input type="hidden" name="srt" value="{% if 'staff_id' not in srt %}-staff_id{% elif srt == '-staff_id' %}staff_id{% else %}id{% endif %}">
                        <button class="table-head" type="submit" style="width: 50px;">Код сотрудн.{% if srt == 'staff_id' %}&nbsp;&#9660;{% elif srt == '-staff_id'%}&nbsp;&#9650;{% else %}&nbsp;&#8597;{% endif %}</button>
                    </form>
                </th>
                <th>
                    <form>
                        {% include 'cattle_management/sort_form_fields_and_page.html' %}
                        <input type="hidden" name="srt" value="{% if 'milk_amount_total' not in srt %}-milk_amount_total{% elif srt == '-milk_amount_total' %}milk_amount_total{% else %}id{% endif %}">
                        <button class="table-head" type="submit" style="width: 50px;">Надоено всего, л{% if srt == 'milk_amount_total' %}&nbsp;&#9660;{% elif srt == '-milk_amount_total'%}&nbsp;&#9650;{% else %}&nbsp;&#8597;{% endif %}</button>
                    </form>
                </th>
                <th>
                    <form>
                        {% include 'cattle_management/sort_form_fields_and_page.html' %}
                        <input type="hidden" name="srt" value="{% if 'cows_milked' not in srt %}-cows_milked{% elif srt == '-cows_milked' %}cows_milked{% else %}id{% endif %}">
                        <button class="table-head" type="submit" style="width: 50px;">Доилось коров{% if srt == 'cows_milked' %}&nbsp;&#9660;{% elif srt == '-cows_milked'%}&nbsp;&#9650;{% else %}&nbsp;&#8597;{% endif %}</button>
                    </form>
                </th>
                <th>
                    <button class="table-head" style="width: 50px;cursor:default">в т.ч.экстра</button>
                </th>
                <th>
                    <button class="table-head" style="width: 50px;cursor:default">в т.ч.в/с</button>
                </th>
                <th>
                    <button class="table-head" style="width: 50px;cursor:default">в т.ч.1с</button>
                </th>
                <th>
                    <button class="table-head" style="width: 50px;cursor:default">Жирн.,%</button>
                </th>
                <th>
                    <button class="table-head" style="width: 50px;cursor:default">Белок,%</button>
                </th>
                <th>
                </th>
            </tr>
            </thead>

            <tbody class="text-left">
            {% for d_o in page_obj %}
            <tr>
                <td class="{% if 'datetime' in srt %}sorted{% endif %}"><a class="block-link" style="color: #198754;" href="{% url 'milking:milking_edit' d_o.id %}">{{d_o.datetime}}</a></td>
                <td class="{% if 'staff_id' in srt %}sorted{% endif %}">{{d_o.staff_id}}</td>
                <td class="{% if 'milk_amount_total' in srt %}sorted{% endif %}">{{d_o.milk_amount_total}}</td>
                <td class="{% if 'cows_milked' in srt %}sorted{% endif %}">{{d_o.cows_milked}}</td>
                <td>{{d_o.milk_amount_e}}</td>
                <td>{{d_o.milk_amount_v}}</td>
                <td>{{d_o.milk_amount_1}}</td>
                <td>{{d_o.milk_fat_per}}</td>
                <td>{{d_o.milk_prot_per}}</td>
                <td><a class="block-link text-center" style="color: #198754;" href="{% url 'milking:milking_delete' d_o.id %}">[Х]</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

</div>

<div class="row">
    <div class="col-10">
        <!-- ===================== PAGINATION =====================  -->
        {% include 'cattle_management/pagination_django.html' %}
    </div>
    <div class="col-2"></div>
</div>

{% endblock %}