/* Стили для каждого типа сообщения */
.message {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
    font-size: 14px;
}
.message-error {
    background-color: #f8d7da; /* Бледно-красный */
    color: #721c24;
}
.message-warning {
    background-color: #fff3cd; /* Бледно-желтый */
    color: #856404;
}
.message-info {
    background-color: #d1ecf1; /* Бледно-голубой */
    color: #0c5460;
}
.message-success {
    background-color: #d4edda; /* Бледно-зеленый */
    color: #155724;
}

#sidebar {
	background-color: var(--bs-success);
	display: block;
  white-space: nowrap;
}
.sidebar-menu-link {
    padding: .5em 1em;
  	text-decoration: none;
}
.active {
 		background-color:#b9d7c0;
}
.sidebar-menu-link:hover {
    background-color:#75b783;
}
.sidebar-menu-link.active:hover {
    background-color:#cee1d2;
}

.block-link {
    display: block;
    text-decoration: none;
}
:not(.active) > .block-link {
    color: lightgrey;
}

.active > .block-link {
    color: var (--bs-success);
}

.control-form {
//		background-color: #b9d7c0;
		padding: 1em;
}

input, textarea {
		border: var(--bs-border-width) solid #bcbdbd;
    border-radius: 3px;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    margin: 0.2em;
}