<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'cattle_management/my.min.css' %}">
    <link rel="stylesheet" href="{% static 'cattle_management/styles.css' %}">
    <link rel="shortcut icon" href="{% static 'cattle_management/favicon.png' %}" type="image/png">
    <script src="{% static 'cattle_management/turbolinks.js' %}"></script>
    <script>
        Turbolinks.start();
    </script>
    <title>Cattle Management</title>
</head>
<body>
{% with url_app=request.resolver_match.app_name %}
<div class="d-flex" data-turbolinks-permanent>
    <nav id="sidebar" class="col-md-1 sidebar vh-100">
        <h3 style="color: darkkhaki; padding-left: 1rem;">КРС 1.0</h3>
        <ul class="nav flex-column">
            <li class="sidebar-menu-link{% if url_app == 'cows' %} active{% endif %}">
                <a class="block-link" href="{% url 'cows:cow_list' %}">Стадо</a>
            </li>
            <li class="sidebar-menu-link{% if url_app == 'not_cow' %} active{% endif %}">
                <a class="block-link" href="{% url 'milking:milking_list' %}">Дойка</a>
            </li>
            <li class="sidebar-menu-link{% if url_app == 'not_cows' %} active{% endif %}">
                <a class="block-link" href="{% url 'cows:cow_create' %}">Осеменение</a>
            </li>
            <li class="sidebar-menu-link{% if url_app == 'not_cows' %} active{% endif %}">
                <a class="block-link" href="{% url 'cows:cow_create' %}">Замеры</a>
            </li>
            <li class="sidebar-menu-link{% if url_app == 'not_cows' %} active{% endif %}">
                <a class="block-link" href="{% url 'cows:cow_create' %}">Лечение</a>
            </li>
            <li class="sidebar-menu-link{% if url_app == 'not_cows' %} active{% endif %}">
                <a class="block-link" href="{% url 'cows:cow_create' %}">Приход</a>
            </li>
            <li class="sidebar-menu-link{% if url_app == 'not_cows' %} active{% endif %}">
                <a class="block-link" href="{% url 'cows:cow_create' %}">Расход</a>
            </li>
            <li class="sidebar-menu-link{% if url_app == 'lists' %} active{% endif %}">
                <a class="block-link" href="{% url 'lists:staff_list' %}">Справочники</a>
            </li>
        </ul>
    </nav>
    <main class="col-md-10 px-4 ">
        {% block content %}
        <!-- Здесь будет отображаться контент страниц -->
        {% endblock %}
    </main>
</div>
{% endwith %}
</body>
</html>