<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'cattle_management/login.css' %}">
    <link rel="shortcut icon" href="{% static 'favicon.png' %}" type="image/png">
</head>
<body>

<div class="container">
    <h2>Вход в систему</h2>

    <div class="login-form">
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="mb-3">
                <label for="username" class="form-label">Имя пользователя:</label>
                <input type="text" name="username" id="username" class="form-field" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Пароль:</label>
                <input type="password" name="password" id="password" class="form-field" required>
            </div>
            <button type="submit" class="btn">Войти</button>
            {% for message in messages %}
            <div style="color: red; margin-top: 10px; text-align: center;">{{ message }}</div>
            {% endfor %}
        </form>
    </div>
</div>
</body>
</html>