<!-- here are filtered fields (so as keep filter while sorted) -->
<!-- cows -->
{% if name %}<input name="name" type="hidden" value="{{name}}">{% endif %}
{% if color %}<input name="color" type="hidden" value="{{color}}">{% endif %}
{% if breed %}<input name="breed" type="hidden" value="{{breed}}">{% endif %}
{% if features %}<input name="features" type="hidden" value="{{features}}">{% endif %}

<!-- lists -->
{% if lastname %}<input name="lastname" type="hidden" value="{{lastname}}">{% endif %}

